.HomePage {
    color: #3c414a;
    text-align: center;
    padding-bottom: 6.9px !important;
    background-color: #3c414a;
}

.image {
    text-align: right;
    border-radius: 40px;
    filter: blur(3.5px);
    padding-right: 10px;
    padding-top: 10px;
}

.navbar-container {
    position: absolute;
    top: 6%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.overlay-navbar {
    padding: 15px;
    background-color: rgba(10, 10, 10, 0.35);
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}

.gliders {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    opacity: 35%;
}

.pic_1 {
    height: 575px;
    width: 880px;
}

.text-container {
    position: absolute;
    top: 78%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.overlay-text {
    padding: 10px 15px 15px 15px;
    background-color: rgba(0, 98, 255, 0.441);
    /* background-color: rgba(10, 10, 10, 0.35); */
    text-decoration: none;
    color: white;
    font-size: 21px;
    font-weight: bold;
    border-radius: 10px;
}

.overlay-text:hover {
    color: #79f5ad;
    background-color: rgba(10, 10, 10, 0.35);

}

.frame {
    display: inline-block;
    padding: 8px;
    border: solid 6px;
    border-image: linear-gradient(45deg, #3498db, #ea8f85, #79f5ad, #f8d296) 30;
    border-radius: 5px;
    position: absolute;
    top: 56%;
    left: 20.5%;
    padding: 12px;
    transform: translate(-50%, -50%);
}

.blue {
    color: #3498db;
    font-size: 35px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Heebo', sans-serif;
    font-weight: bolder;
}

.red {
    color: #c62553;
    font-size: 100px;
    margin-top: 1px;
    margin-bottom: 2px;
}

.caption {
    margin: 0;
    font-size: 40px;
    color: #ffffff;
    size: 10px;
    border-radius: 10px;
}

.colorContext {
    opacity: 100%;
    font-weight: lighter;
    color: #ffffff;
    direction: rtl;
    padding: 15px;
    font-size: 18px;
    margin-bottom: 1px;
}

#bthn {
    position: fixed;
    right: 25px;
    bottom: 6.5% !important;
    width: 300px !important;
}

@media (max-width: 1100px) {
    .HomePage{
        padding-bottom: 49px !important;
    }

    .frame {
        transform: translate(15%, -55.5%);
    }

    .overlay-text{
        visibility: hidden;
    }

    .pic_1 {
        width: 99%;
        height: 500px;
    }
}

@media (max-width: 768px) {
    .HomePage{
        padding-bottom: 14%;
    }

    .frame {
        transform: translate(-12%, -64%);
    }

    .pic_1 {
        width: 98.5%;
        height: 450px;
    }

    .caption {
        font-size: 20px;
    }

    .overlay-text {
        visibility: inherit;
        position: absolute;
        top: 60px;
        width: 165px;
        height: 20px;
    }

    body, .HomePage {
        overflow-x: hidden;
    }

    #bthn {
        position: relative !important;
        right: 0 !important;
        top: 120px;
        margin-bottom: 80px !important;
    }
}