.navbar-container {
    position: absolute;
    top: 38px;
    left: 20%;
    transform: translate(-50%, -50%);
}

.overlay-navbar {
    padding: 15.5px 30px 15.5px 30px;
    border-radius: 0;
    background-color: rgba(10, 10, 10, 0.138);
    color: rgb(255, 255, 255);
    margin-bottom: 80px;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
}

.colorText {
    margin-bottom: -1px;
}

.contaxt input[type="color"] {
    position: absolute;
    background-color: rgb(165, 165, 165);
    right: 170px;
    top: 20px;
    border: none;
    padding: 0;
    border-radius: 30%;
    padding: 2px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

/* .coin {
    visibility: hidden;
    background: none;
    color: rgb(251, 217, 249);
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: -22px;
    border-color: white;
    padding: 7px;
    cursor: pointer;
    border-radius: 5px;
} */

@media (max-width: 1060px) {
    .navbar-container {
        margin-left: 20%;
    }

    .colorText {
        margin-bottom: -1px;
    }
}

@media (max-width: 768px) {
    .navbar-container {
        margin-left: 10%;
    }

    /* .coin {
        margin-left: 0;
        margin-bottom: 0;
        visibility: visible;
    } */

    .colorText {
        margin-bottom: -1px;
    }

    .overlay-navbar {
        padding: 18px 12px 16px 16px;
        font-size: 14px;
    }
}